<!-- 
    File Name: app.css
    Student Name: Lea Marie Magbalot
    Student ID: 301145757
    Date: October 1, 2021
-->

<!-- Bootom Navigation -->
  <footer>
    <nav class="fixed-bottom navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <h6 class="display-12 navbar-text mid">&copy; Lea Magbalot 2021.</h6>
      </div>
    </nav>
  </footer>