<!-- 
    File Name: app.css
    Student Name: Lea Marie Magbalot
    Student ID: 301145757
    Date: October 1, 2021
-->

<!-- Contact Content -->
<main>
    <div class="heading">
        <div class="mid">
            <h1>Let's Make Contact!</h1>      
            <p>Say hi. Get in touch. Request additional information. Hire me.</p>
            <h5>lmagbal1@my.centennialcollege.ca</h5>
        </div>
    </div>
    
    <div class="bg-Body">
        <h5>Send me a message and I'll get back to you as soon as possible.</h5>   
        <form action="/">
            <div class="input-group mb-2 pad">
                <span class="input-group-text">First and Last Name</span>
                <input type="text" placeholder="Lea" aria-label="First name" class="form-control">
                <input type="text" placeholder="Magbalot" aria-label="Last name" class="form-control">
            </div>  
    
            <div class="input-group mb-2 pad">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" placeholder="Server" aria-label="Server">
            </div>

            <div class="input-group mb-2 pad">
                <span class="input-group-text">Subject</span>
                <input type="text" class="form-control" placeholder="Services Offered" aria-label="subject">
            </div>

            <div class="input-group mb-2 pad">
                <span class="input-group-text">Message</span>
                <textarea class="form-control" placeholder="I would like to hire you to design my website." aria-label="message"></textarea>
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Send Message</button>
            </div>
        </form>    
    </div>
</main>