<!-- 
    File Name: app.css
    Student Name: Lea Marie Magbalot
    Student ID: 301145757
    Date: October 1, 2021
-->


<!-- Services Content -->
<main>
    <div class="heading">
        <div class="mid">
            <h1>Services Offered</h1>      
            <p>I have a variety of expertise to choose from. Be it web or app development, research and documentation, or data visualization and management.</p>
        </div>
    </div>
    
    
    <div class="bg-Body">
        <a href="https://unsplash.com/@jdiegoph?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
            <img src="/assets/images/services_img1.jpg" class="img-thumbnail float-start" alt="programming" title="Photo by Fotis Fotopoulos under Unsplash">
        </a>   
            
        <ul class="list-group cnt-services-right">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>WEB AND APP DEVELOPMENT</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                C#
                <span class="badge bg-primary rounded-pill">9/10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                JavaScript | Node.js | JQuery | Bootstrap 
                <span class="badge bg-primary rounded-pill">10/10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                HTML5 | CSS3 
                <span class="badge bg-primary rounded-pill">10/10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                HL7
                <span class="badge bg-primary rounded-pill">8/10</span>
            </li>
        </ul>

        <br>

        <a href="https://unsplash.com/@lukechesser?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
            <img src="/assets/images/services_img2.jpg" class="img-thumbnail float-end" alt="db-management" title="Photo by Luke Chesser under Unsplash">
        </a> 

        <ul class="list-group cnt-services-left">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>DATA VISUALIZATION AND MANAGEMENT</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                SQL | NoSQL
                <span class="badge bg-primary rounded-pill">10/10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                SAS 
                <span class="badge bg-primary rounded-pill">10/10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Tableau | RapidMiner 
                <span class="badge bg-primary rounded-pill">9/10</span>
            </li>
        </ul>

        <br>

        <a href="https://unsplash.com/@impatrickt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
            <img src="/assets/images/services_img3.jpg" class="img-thumbnail float-start" alt="research" title="Photo by Patrick Tomasso under Unsplash">
        </a>   
            
        <ul class="list-group cnt-services-right1">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>RESEARCH AND DOCUMENTATION</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Software Requirement Specification
                <span class="badge bg-primary rounded-pill">10/10</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                UML Diagrams
                <span class="badge bg-primary rounded-pill">10/10</span>
            </li>
        </ul>

    </div>

    <br>
</main>