<!-- Home Content -->
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 p-5 heading mid">
                <a href="/assets/documents/resume.pdf">
                    <img src="/assets/images/photoOfMe2.jpg" class="img-thumbnail" alt="Photo-of-me" title="Lea Magbalot">
                </a>
                <p class="fs-4 m-0 pt-4 font-monospace"><strong>Lea Marie Magbalot</strong></p>
                <p class="fs-6 m-0 p-0 font-monospace">lmagbal1@my.centennialcollege.ca</p>
                <p class="fs-6 m-0 p-0 font-monospace">
                    <a href="/assets/documents/resume.pdf" class="nav-link">Look at my resume here.</a>
                </p>
            </div>

            <div class="col-lg-8 p-5 bg-Body">
                <h1>About Me</h1> 
                <p class="fs-5">I am currently enrolled in Health Informatics Technology (HIT) program at Centennial College. It is now the first semester of my second year and I am enjoying every bit of it. Web development is my favorite course so far and every meeting I encounter something new to add on my skills and abilities.</p>
                <p class="fs-5">In my free time, I either play chess online, cultivate new plants, or read a book. I love books that specifically teach me how to be unlimited by changing the way I think. In our time today where connectivity is always around us and getting information is a lot easier and faster, ignorance becomes a choice.</p>
                <p class="fs-5">I am looking forward to put all the knowledge I accumulated in school into action and produce a global and innovative solution.</p>
                
                <br>
                <figure class="text-center">
                    <blockquote class="blockquote">
                      <p class="text-primary">Life has no limitations, except the ones you make.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Les Brown <cite title="Source Title">Limitless</cite>
                    </figcaption>
                </figure>

                <br>
                <img src="/assets/images/myLogo_Small.png" class="img-thumbnail" alt="Logo" title="Lea Magbalot">
                <img src="/assets/images/myLogo_Small.png" class="img-thumbnail" alt="Logo" title="Lea Magbalot">
                <img src="/assets/images/myLogo_Small.png" class="img-thumbnail" alt="Logo" title="Lea Magbalot">
            </div>
        </div>
    </div>
</main>