<!-- 
    File Name: app.css
    Student Name: Lea Marie Magbalot
    Student ID: 301145757
    Date: October 1, 2021
-->

  <!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="scripts/app.js"></script>
</body>
</html>