<!-- 
    File Name: app.css
    Student Name: Lea Marie Magbalot
    Student ID: 301145757
    Date: October 1, 2021
-->


<!-- Home Content -->
<main>
  <div class="heading">
    <div class="mid">
       <h1>Hello There! Welcome to my Home Page</h1>      
        <a href="https://unsplash.com/@jdiegoph?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
          <img src="/assets/images/img2.jpg" class="img-thumbnail" alt="home_image1" title="Photo by Diego PH under Unsplash">
        </a>
        <a href="https://unsplash.com/@helloimnik?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
          <img src="/assets/images/img1.jpg" class="img-thumbnail" alt="home_image2" title="Photo by Hello I'm Nik under Unsplash">
        </a>
        <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
          <img src="/assets/images/img.jpg" class="img-thumbnail" alt="home_image3" title="Photo by Annie Spratt under Unsplash">
        </a>

        <p class="fs-5">Want to know more? The <a href="/about" style="text-decoration: none">about me</a> page details who I am.</p>
     </div>
  </div>
    
    
  <div class="bg-Body">
    <div class="font-monospace">
      <p class="fs-2 text-decoration-underline fw-bold">My Mission</p>
      <p class="fs-4">To create a space for ideas, cultivate what is learned, and deliver the solution in the global world.</p>
      <br><br>
    </div>
  </div>
    
</main>