<!-- Home Content -->
<main>
    <div class="heading">
        <div class="mid">
            <h1>My Projects</h1>      
            <p class="fs-5">These are some of my past and current projects.</p>
        </div>
    </div>
    
    <div class="bg-Body">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="/assets/images/EMRgo_Logo1.PNG" class="card-img-top" alt="EMRgo-Logo">
                    <div class="card-body">
                        <h5 class="card-title">EMRgo</h5>
                        <p class="card-text">A user-friendly and patient-centered mobile application system that acts as a single repository for an individual's medical records.</p>
                    </div>
                    <div class="card-footer">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Role:</strong> Researcher | Documentarian</li>
                            <li class="list-group-item"><strong>Outcome:</strong> A complete system design documentation implementing agile methodologies.</li>
                            <li class="list-group-item"><strong>Current Project</strong></li>
                        </ul>
                    </div>
              </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="/assets/images/ct1_img1-1.PNG" class="card-img-top" alt="Swimming-Management-System">
                    <div class="card-body">
                        <h5 class="card-title">Swimming Management System</h5>
                        <p class="card-text">A system created using C# to schedule swimming events, store swimmers and clubs information, and assign swimmers to clubs and/or events.</p>
                    </div>
                    <div class="card-footer">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Role:</strong> C# Programmer</li>
                            <li class="list-group-item"><strong>Outcome:</strong> An easy system for scheduling swimming events and participants and storing and accessing swimmers and clubs information.</li>
                            <li class="list-group-item"><strong>Past Project</strong></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="/assets/images/chroma.PNG" class="card-img-top" alt="Food-Coloring-Mixer">
                    <div class="card-body">
                        <h5 class="card-title">Food Coloring Mixer implementing Power Management System</h5>
                        <p class="card-text">An automatic and power management coloring mixer device used to blend food colors.</p>
                    </div>
                    <div class="card-footer">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Role:</strong> Researcher | Documentarian | PCB Designer</li>
                            <li class="list-group-item"><strong>Outcome:</strong> A full functional system that mixes food coloring to produce desired color based on the input of the user.</li>
                            <li class="list-group-item"><strong>Past Project</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
    </div>
</main>