/*  File Name: app.css
    Student Name: Lea Marie Magbalot
    Student ID: 301145757
    Date: October 1, 2021
*/

/* Custom css goes here */

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    border-radius: .3rem;  
}

.heading {
    padding: 2rem 2rem;
    background-color: rgb(231, 224, 201);
}

body {
    background-color: rgb(193, 207, 192);
}

/* Services Page */
.cnt-services-right {
    padding: 3.2em;
}

.cnt-services-left {
    padding: 5em 3.2em;
}

.cnt-services-right1 {
    padding: 6em 3.2em 7em 3.2em;
}


/* About Me Page */
.container1 {
    position: relative;
}

.container2 {
    padding: 1rem;
    text-align: left;
    display: inline;
    width: 30%;
}

.container3 {
    padding: 1rem;
    text-align: right;
    display: inline;
}


/* Contact Page */
.font-style {
    font-weight: bold;
}

.error-page, .bg-Body {
    background-color: rgb(193, 207, 192);
}

.error-view{
    text-align: center;
    padding: 10em 0em;
}

.mid {
    text-align: center;
}

div.bg-Body {
    padding: 2em 2em;
    text-align: center;
}

div.bg-Body p.text {
    color: rgb(17, 50, 77);
}

form div.pad {
    padding: 0.5em 15em;
}


/* Bussiness Contact Page */
.pad {
    padding: 2em 11em;
    background-color: rgb(193, 207, 192);
}

thead {
    color: rgb(17, 50, 77);
}

.addBtn {
    padding: 0em  0em 1em 65em;
}

.addFontStyle {
    font-weight: bold;
    color: rgb(17, 50, 77);
}